{% extends 'index.html' %}

{% block body %}

<div class="container-fluid ">
<main role="main" class="container">

	<form method = "POST">
		 {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                         </div>
                     {% endfor %}
                {% endfor %}
             {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                                 </div>
                {% endfor %}
            {% endif %}

      <div class=" mt-4 mb-8 starter-template">


        <h4>Editar Cliente <a >&nbsp </a>

			{{ form.nombre.value}}
			</h4>



        <p class=" mt-4 lead">

	        {% csrf_token %}

		        {% for field in form %}

		            <div class= "form-group row">

			            <label for= "{{field.name}}"

			            class= "col-2 col-form-label">{{field.name|capfirst}}
                        </label>

			                    <div class= "col-10">

				                {{ field }}

			                    </div>

		            </div>

		        {% endfor %}


	  </div>

			<button type="submit" class="btn btn-primary" name= "button"> Editar </button>

		    <a href="{% url 'display_clients'%}"><button class="btn btn-secondary">Cancel</button></a>


	</form>


</main>


</div>

    {% endblock %}