{% extends 'index.html' %}

{% block body %}


<!--Cuadro superior-->
<div class="container fluid mt-4">

<div class="container fluid mt-4">
  <div class="col-lg-12 ">
		<h1>CRM SIGMA <small>Dashboard</small></h1>
  </div>
    </div>

  <div class="container fluid mt-5">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Remitos</h6>
                    <h2 class="text-right"><i class="far fa-clipboard f-left"></i><span>12</span></h2>
                    <p class="m-b-0">Remitos totales<span class="f-right">147</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Movimientos de hoy</h6>
                    <h2 class="text-right"><i class="fas fa-shipping-fast f-left"></i><span>3</span></h2>
                    <p class="m-b-0">Movimientos <span class="f-right">276</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Certificaiones </h6>
                    <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>12</span></h2>
                    <p class="m-b-0">Certificaciones totales<span class="f-right">80</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Productos Criticos</h6>
                    <h2 class="text-right"><i class="fas fa-exclamation-circle f-left"></i><span>12</span></h2>
                    <p class="m-b-0">Productos totales<span class="f-right">81</span></p>
                </div>
            </div>
        </div>
	</div>
  </div>


  <div class="container fluid mt-4">
       <div class="row">


           <div id="container mr-3" style="width: 75%;">
         <canvas id="population-chart" data-url="{% url 'population-chart' %}"></canvas>
           </div>

             <div class="col md-5">

                <div class="panel panel-default">
                  <div class="panel-heading"><h4>Remitos</h4></div>
                  <div class="panel-body">

                         <small>Preparando Remito</small>

                    <div class="progress">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{preparando}}%">
                       {{preparando}}%
                      </div>
                    </div>

                    <small>Entregados</small>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{entregado}}%">
                        {{entregado}}%
                      </div>
                    </div>
                    <small>Cobrados</small>
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{cobrado}}%">
                        {{cobrado}}%
                      </div>
                    </div>

                     <small>Cobrados</small>
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{cobrado}}%">
                        {{cobrado}}%
                      </div>
                    </div>
                   <small>Cobrados</small>
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{cobrado}}%">
                        {{cobrado}}%
                      </div>
                    </div>
                    <small>Cobrados</small>
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{cobrado}}%">
                        {{cobrado}}%
                      </div>
                    </div>
  </div>
</div>

                  </div><!--/panel-body-->
              </div><!--/panel-->
            </div>
       </div>


<!--
<div class="container fluid mt-4">
  <div class="row align-items-start">
   <div class="col">
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
    </div>

    </div>
    <div class="col">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
    </div>
    <div class="col">

<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Dark card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
    </div>
  </div>

  <div class="row align-items-center">
<div class="col">
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
    </div>

    </div>
    <div class="col">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
    </div>
    <div class="col">

<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Dark card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
    </div>
  </div>

  <div class="row align-items-end">
    <div class="col">
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
    </div>

    </div>
    <div class="col">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
    </div>
    <div class="col">

<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Dark card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
    </div>
  </div>-->


{% endblock %}