<html>
 <head>



{% load static %}

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- custom css-->
  <link rel="stylesheet" href="/static/css/custom.css">

    <!-- fontawesome-->
  <link rel="stylesheet" href="/static/fontawesome/css/all.css" > <!--load all styles -->
  <link  href="/static/js/bootstrap.bundle.min.js">
  <link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css"/>
	 <style>
		 h3 {
  				text-align:center;
			}
	 </style>


<TITLE>REMITO SIGMA {{item.Numero}}</TITLE>

</head>

<body>

<div class="container fluid ml-3 mr-3" >
	<a >&nbsp </a>
			<h3>REMITO SIGMA </h3>

<div class = "conteiner fluid mt-4">
	<a >&nbsp </a>

		<tr>

			<td><h4> Numero de remito: {{  item.Numero}}</h4></td>

		</tr>
	<br>

	<tr>
		<td><h4>Fecha: {{item.Fecha}}</h4><td>


	<br>

	</tr>

	<tr>
		<td> <h4> Cliente:  {{item.Cliente_o_Proveedor}}</h4><td>

	<br>



	</tr>
	<tr>
		<td><h4>Direccion: {{item.Cliente_o_Proveedor.direccion}} </h4><td>
		<td><h4></h4></td>

	<a >&nbsp </a>
	</div>

	<br>

	<div clas="container-fluid">
	<table class= "table table-bordered">
<thead>
	<tr>
		<th style="padding:0 15px 0 15px;" >Cantidad</th>
		<br>
		<th style="padding:0 15px 0 15px;" >Producto</th>
		<br>
		<th style="padding:0 15px 0 15px;" >P.UNIDAD</th>


	</tr>
</thead>
<tbody>
	{% for movimiento in movimientos %}
	</tr>
	<tr>
		<td style="padding:0 15px 0 15px;" >{{movimiento.Cantidad}}</td>
		<td style="padding:0 15px 0 15px;" >{{movimiento.producto.nombre}}</td>
		<td style="padding:0 15px 0 15px;" >{{movimiento.unidad}} x {{movimiento.producto.envase}}</td>
		<td style="padding:0 15px 0 15px;" >{{movimiento.producto.asterisco}}</td>
	<tr>
	{%endfor%}
</tbody>
	</table>
		</div>


<div class="container-fluid">
	<br><br>
	<tr>

		<td><h5>Bultos: {{bultos.unidad__sum}}  </h5>  </td>

	</tr>
	<br>
	<tr>
		<td><h5>Valor_Declarado: {{item.Valor_Declarado}}</h5><td>

	</tr>
	<br>

	<tr>
		<td><h5>Flete: {{item.Flete}}</h5><td>

	</tr>
	<br>
	<tr>

		<td><h5>Retira: {{item.Retira}}</h5><td>

	</tr>
	<br>
	<tr>
		<td><h5>Observaciones: {{item.Observaciones}}</h5><td>


	</tr>
	<br>
	<tr>
		<td><h5>OC: {{item.Orden_de_Compra_Nro}}</h5><td>

	</tr>

</div>
<br>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</div>
</body>
</html>
